
/* акцентный цвет #4D5AE5; */
/* основой цвет  #434455 */
 /* цвет заголовка #2E2F42; */
 /* цвет бекграунда команды #F4F4FD */
 /* цвет текста героя #FFFFFF; */






:root{
    --primary-text-color: #434455;
    --text-color: #2E2F42;
    --accent-color :#4D5AE5;
    --primary-white:#FFFFFF;
    --hover-color :#404bbf;

}

body {
    color:var(--primary-text-color);
    background-color:var(--primary-white);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    
}
.list {
    list-style: none;
    
}
.link{
   text-decoration: none;
}
.logo{
  color:var(--accent-color); 
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo .part-logo{
  color:var(--text-color);

}
.logo .link{
    text-decoration: none;  
}
span{
    color:var(--text-color) ;
}

.navi .link {
  color:var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height:1.5;
  text-decoration: none;

}
.navi .link:hover,
.navi .link:focus {
    color:var(--hover-color);

}
.navi .link.current{
    color: var(--accent-color);
}
address {
    font-style: normal;
}
.contacts{
    color:var(--primary-text-color) ;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}
.contacts:hover,
.contacts:focus{
    color: var(--hover-color);
}
/* main-section */
    .section{
        background-color: var(--text-color);
    }
    .section-moto{
        color: var(--primary-white);
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
    }
.section-button{
    background-color: var(--accent-color);
    color: var(--primary-white);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;


}
.section-button:hover,
.section-button:focus{
    background-color:var(--hover-color)
}
/* features section  */
.features{
    background-color:var(--primary-white);
}
.features-title{
    color:var(--text-color) ;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.features-descr {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;

}
/* doing section  */
.doing-section {
    background-color:var(--primary-white);   
}
.section-title{
    color: var(--text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}


/* team-section */
.team-section-title{
    color: var(--text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.team-section{
    background-color:#F4F4FD ;


}
.team-card{
    background-color: var(--primary-white);
}
     
.team-name{
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.duty{
    color:var(--primary-text-color);
    font-size: 16px;
    line-height: 1.5;
    
}
.footer{
    background-color:var(--text-color);
     
}
.footer-text {
    color: var(--primary-white);
    font-size: 16px;
    line-height: 1.5;
}

.footer-logo{
    color: #F4F4FD ;;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.service-section{
    background-color: #fff;
}
.btn-filtr{
    background-color: #F4F4FD;;
    color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.btn-filtr:hover,
.btn-filtr:focus {
background-color: #404BBF;
color: var(--primary-white);
}

.service-title {
    color:var(--text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.02em;

}
.service-descr{
    color:var(--primary-text-color) ;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
}