
/* акцентный цвет #4D5AE5; */
/* основой цвет  #434455 */
 /* цвет заголовка #2E2F42; */
 /* цвет бекграунда команды #F4F4FD */
 /* цвет текста героя #FFFFFF; */






:root{
    --primary-text-color: #434455;
    --text-color: #2E2F42;
    --accent-color :#4D5AE5;
    --primary-white:#FFFFFF;


}

body {
    color:var(--primary-text-color);
    background-color:var(--primary-bgc);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    
}
.list {
    list-style: none;
}

.logo{
  color:var(--primary-text-color); 
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.part-logo{
  color:var(--accent-color);   
}
.navi .link {
  color:var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height:1.5;
  text-decoration: none;

}
.navi .link:hover,
.navi .link:focus {
    color:var(--accent-color);

}
.navi .link.current{
    color: var(--accent-color);
}

.contacts{
    color:var(--text-color) ;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}
.contacts:hover{
    color: var(--accent-color);
}
/* main-section */
    .main-section{
        background-color: var(--primary-text-color);
    }
    .main-section-moto{
        color: var(--primary-white);
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
    }
.main-section-button{
    background-color: var(--accent-color);
    color: var(--primary-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
/* features section  */
.features-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.features-descr {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;

}
/* doing section  */
.section-title{
    color:var(--text-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}
/* team-section */
.team-section{
    background-color:#F4F4FD ;

}
.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

}
.duty{
    color:var(--text-color) ;
    font-size: 16px;
    line-height: 1.5;

}
.footer{
    background-color:var(--primary-text-color);
     
}
.footer-text {
    color: var(--primary-white);
    font-size: 16px;
    line-height: 1.5;
}

.footer-logo{
    color: var(--primary-white);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.btn-filtr{
    background-color:#E7E9FC;
    color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.btn-filtr:hover{
background-color: #404BBF;
color: var(--primary-white);
}
.service-title {
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
}
.service-descr{
    color:var(--text-color) ;
    text-decoration: none;
}